:root {
    --spacing-xxsm: 0.2rem;
    --spacing-xsm: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 0.75rem;
    --spacing-lg: 1rem;
    --spacing-xlg: 1.5rem;

    --border-radius-md: 8px;
    --tab-border-radius: 10px;
    --border-radius-small: 10px;
    --border-radius-medium: 10px;
}

#navigator-toolbox {
    --border-radius-small: 10px !important;
    --border-radius-medium: 10px !important;
}

tab-group {
    display: block !important;
    border-radius: var(--border-radius-medium);

    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;

    & .tab-group-label-container {
        border-radius: var(--border-radius-medium);
        min-height: var(--tab-min-height);

        padding: var(--spacing-sm);
        padding-block-start: var(--spacing-md) !important;
        padding-block-end: var(--spacing-md) !important;

        padding-block-start: 0 !important;
        padding-block-end: 0 !important;

        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        margin-inline-start: 0 !important;
        margin-inline-end: 0 !important;

        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;

        background-color: color-mix(in srgb, var(--tab-group-color) 50%, white);
        color: light-dark(color-mix(in srgb, var(--tab-group-color) 50%, white));
    }

    & .tab-group-label {
        --tab-group-label-padding: 6px;

        margin-block: 0 !important;

        background-color: transparent !important;
        outline: 0 !important;
        font-size: 1.1rem !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    & .tabbrowser-tab {
        margin-inline-start: 2px !important;
        margin-inline-end: 2px !important;

        border-radius: var(--border-radius-medium) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        & .tab-background {
            background-color: transparent;

            &:is([selected], [multiselected]) {
                background-color: var(--tab-selected-bgcolor);
            }

            &:hover {
                background-color: var(--tab-hover-background-color);
            }
        }
    }

    & .tabbrowser-tab::before {
        display: none;
    }
}

tab-group:not([collapsed]) {
    border-radius: var(--border-radius-medium);
    background-color: color-mix(in srgb, color-mix(in srgb, var(--tab-group-color) 70%, white) 15%, transparent);

    padding-bottom: 2px;

    & .tab-group-label-container {
        margin-bottom: 2px !important;
    }
}

tab-group[collapsed] {
    & .tab-group-label-container {
        background-color: color-mix(in srgb, var(--tab-group-color) 75%, white);
    }
}
