:root {
    --font-body: -apple-system, BlinkMacSystemFont, "Geist", sans-serif;
    --font-mono: "Geist Mono", "Ubuntu Mono", "GeistMono Nerd Font", monospace;
    --font-heading: -apple-system, BlinkMacSystemFont, "Geist", sans-serif;

    --dark-low: #121c26;
    --dark-main: #1d232e;
    --dark-high: #202733;

    --dark-low-white-10: #343d46;

    --white-01: rgba(255, 255, 255, 0.1);
    --white-02: rgba(255, 255, 255, 0.2);

    --ansi-black: #000000;
    --ansi-red: #f77172;
    --ansi-green: #65a884;
    --ansi-yellow: #cec999;
    --ansi-blue: #74add2;
    --ansi-magenta: #a980c4;
    --ansi-cyan: #2d949f;
    --ansi-white: #eeeeee;
}

.a,
.body,
.button,
.div,
.html,
.input,
.label,
.li,
.month,
.nav,
.section,
.span,
.textfield,
.ul,
.widget,
a,
body,
button,
div,
div.widget span,
div.widget,
html,
input,
label,
li,
nav,
section,
select,
span,
text,
textfield,
ul {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
title,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.title,
h1.li {
    font-family: var(--font-heading);
}

.code span,
.code,
.kbd span,
.kbd,
.pre span,
.pre,
.samp span,
.samp,
.tt span,
.tt,
code div,
code span,
code,
kbd div,
kbd span,
kbd,
pre div,
pre span,
pre,
samp div,
samp span,
samp,
tt div,
tt span,
tt {
    font-family: var(--font-mono);
}

.editor-scrollable div,
.editor-scrollable span,
.monaco-scrollable-element div,
.monaco-scrollable-element span {
    font-family: var(--font-mono);
}
