@-moz-document domain("console.aws.amazon.com"), domain("awsapps.com") {
    :root,
    html {
        --font-family-base-4om3hr: var(--font-body);
    }

    .Pg3ZaRLW11orNE3Vkp0vU .cwdb-widget :not(.cwdb-icon),
    .globalNav-22122,
    [class^="awsui-"] button,
    [class^="awsui-"],
    [class^="awsui_"],
    [class^="awsui_"]:not(#\9),
    td a.awsui_font-size-body-m_4c84z_1c97a_416,
    td a.awsui_link_4c84z_1c97a_93,
    td a.awsui_variant-secondary_4c84z_1c97a_140 {
        font-family: var(--font-body);
    }

    ._link--cookie-preferences_m66i2_134,
    .logs__log-events-table-v3 table:not(.awsui-cw-date-time-range-calendar-table) .logs__log-events-table--load-more-row div,
    .logs__log-events-table-v3 table:not(.awsui-cw-date-time-range-calendar-table) .logs__log-events-table--load-more-row span,
    .logs__log-events-table-v3 table:not(.awsui-cw-date-time-range-calendar-table) .logs__log-events-table--load-more-row,
    [class^="awsui_"],
    [class^="awsui_"]:not(#\9) div,
    [class^="awsui_"]:not(#\9) span,
    [class^="awsui_"]:not(#\9),
    [class^="search-"],
    td a.awsui_link_4c84z_1c97a_93 {
        font-family: var(--font-body) !important;
    }

    .log-event-message-wrapper div,
    .log-event-message-wrapper span,
    .logs__log-events-table-v3 table:not(.awsui-cw-date-time-range-calendar-table) .logs__log-events-table__cell div,
    .logs__log-events-table-v3 table:not(.awsui-cw-date-time-range-calendar-table) .logs__log-events-table__cell span,
    .logs__log-events-table-v3 table:not(.awsui-cw-date-time-range-calendar-table) .logs__log-events-table__cell {
        font-family: var(--font-mono);
    }
}
