@-moz-document domain("datacamp.com") {
    .css-hu6jey code,
    div.margin-view-overlays div,
    div.view-lines.monaco-mouse-cursor-text span {
        font-family: var(--font-mono);
    }

    div.margin-view-overlays div,
    div.view-lines.monaco-mouse-cursor-text span {
        font-size: 0.95rem;
    }

    .css-1c395s9,
    .css-57lwy6,
    .css-afwd2b,
    .css-ffxlcw {
        font-family: var(--font-body);
    }

    div[data-cy="console-editor"] div,
    div[data-cy="console-editor"] {
        font-family: var(--font-mono);
        font-size: 0.95rem;
    }
}
