@-moz-document domain("docker.com") {
    [class^="css-"] .MuiChip-label,
    [class^="css-"] {
        font-family: var(--font-body);
    }

    .css-15lke85,
    .css-1cflq9f,
    .css-1drixb1,
    .css-1mlrzzp,
    .css-4bq826,
    .css-gcog0b span,
    .css-gcog0b,
    .css-jkz3lz,
    .css-lnjl0y,
    .css-nj3q9y,
    .css-qzgati,
    .css-t4j4py span,
    .css-t4j4py,
    .css-xl6l7x {
        font-family: var(--font-heading);
    }

    .css-1kmdt8g,
    .css-1wzlsx3,
    .css-63f7jj,
    .css-76e5bc,
    .css-duax8q,
    .css-fucjz,
    .css-gw90cj,
    div .css-j7x1l3 .css-gg9902 {
        font-family: var(--font-mono);
    }
}
