@-moz-document domain("docker.com") {
    .css-12hj697,
    .css-14cycl1,
    .css-157ecyu,
    .css-16zh2gn,
    .css-177xnnm,
    .css-17pdfo8,
    .css-17ztlvf,
    .css-19gvr2p,
    .css-1d9bvuh,
    .css-1h662zc,
    .css-1i1hx8q,
    .css-1joxzo,
    .css-1k59zk7,
    .css-1krv1xz,
    .css-1l2u9jb,
    .css-1lhgacn,
    .css-1o5m5nr,
    .css-1ojb4d2,
    .css-1sb8966,
    .css-1t0te5g,
    .css-1tv00r4,
    .css-1v9z8v2,
    .css-1wv0dth,
    .css-1wv0dth,
    .css-1wwp5rc,
    .css-1xsts8g,
    .css-2kncwk,
    .css-41w77t,
    .css-6q9ayl,
    .css-9go4un,
    .css-9t1tx1,
    .css-czxnr4,
    .css-jy7h27,
    .css-jy7h27,
    .css-mgb0yi,
    .css-nup3rb,
    .css-o97y1u .MuiChip-label,
    .css-qpok6y .MuiChip-label,
    .css-vdb7ci,
    .css-wi27oe,
    .css-x14oos,
    .css-y9gonh,
    .css-zmesii,
    [class^="css-"] .MuiChip-label,
    [class^="css-"] {
        font-family: var(--font-body);
    }

    .css-11ayg0x,
    .css-14lngvc,
    .css-15lke85,
    .css-1cflq9f,
    .css-1drixb1,
    .css-1mlrzzp,
    .css-3gou4x,
    .css-3gou4x,
    .css-3gou4x,
    .css-4bq826,
    .css-fvzj63,
    .css-gcog0b span,
    .css-gcog0b,
    .css-h12dqj,
    .css-jkz3lz,
    .css-lnjl0y,
    .css-nj3q9y,
    .css-q10foy,
    .css-qzgati,
    .css-s09sc0,
    .css-t4j4py span,
    .css-t4j4py,
    .css-vdb7ci,
    .css-xl6l7x {
        font-family: var(--font-heading);
    }

    .css-1kmdt8g,
    .css-1r5tc1u,
    .css-1wzlsx3,
    .css-5uzr1g,
    .css-63f7jj,
    .css-76e5bc,
    .css-duax8q,
    .css-fucjz,
    .css-gw90cj,
    div .css-j7x1l3 .css-gg9902 {
        font-family: var(--font-mono);
    }

    .css-13pi9x0,
    .css-1uz5nbh,
    .css-3f6rb1,
    .css-ggeat1 {
        font-family: var(--font-body) !important;
    }
}
