@-moz-document domain("medium.com"), domain("gitconnected.com") {
    .oq,
    .zn span,
    .zn,
    pre .b,
    pre .bg,
    pre .fq,
    pre .l,
    pre .ne,
    pre .nh,
    pre .ni,
    pre .nj,
    pre .nk,
    pre .nl,
    pre .nm,
    pre br,
    pre span {
        font-family: var(--font-mono);
    }

    .al,
    .mi,
    .nm,
    .nt,
    .ny {
        font-family: var(--font-body);
    }

    .bf,
    .mc,
    h1.al,
    h1.li,
    h1.ny,
    h2.al,
    h2.be,
    h2.ny,
    h3.al,
    h3.ny,
    h4.al,
    h4.ny,
    h5.al,
    h5.ny,
    h6.al,
    h7.ny,
    strong.ex {
        font-family: var(--font-heading);
    }

    @media only screen and (min-width: 1080px) {
        .abr,
        .ns {
            font-size: 16px;
        }
    }

    .ace,
    .aj,
    .be,
    .mu,
    .no {
        font-family: var(--font-body);
    }

    h1.aj,
    h1.be,
    h1.mu,
    h1.no,
    h2.aj,
    h2.be,
    h2.mu,
    h2.no {
        font-family: var(--font-heading);
    }
}
