@-moz-document domain("stackoverflow.com") {
    :root,
    html,
    body {
        --ff-mono: var(--font-mono);
    }

    .comment-copy,
    .excerpt,
    .question-status,
    .s-post-summary--content .s-post-summary--content-title a,
    .s-prose {
        font-family: var(--font-body);
    }

    .s-prose code {
        font-family: var(--font-mono);
    }
}
